<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to Get Started</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam neque blanditiis ullam molestiae in saepe totam harum iste delectus adipisci!</p>
        </div>
        <div class="callout__button">
            <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
        </div>
    </div>
</div>